.has-pink-color {
    color: #f78da7;
}

.has-red-color {
    color: #cf2e2e;
}

.has-orange-color {
    color: #ff6900;
}

.has-amber-color {
    color: #fcb900;
}

.has-light-green-cyan-color {
    color: #7bdcb5;
}

.has-vivid-green-cyan-color {
    color: #00d084;
}

.has-pale-cyan-blue-color {
    color: #8ed1fc;
}

.has-vivid-cyan-blue-color {
    color: #0693e3;
}

.has-light-gray-color {
    color: #eeeeee;
}

.has-cyan-blue-gray-color {
    color: #abb8c3;
}

.has-dark-gray-color {
    color: #313131;
}

.has-pale-yellow-color {
    color: #FEFFDC;
}

.has-pale-lime-green-color {
    color: #F0F6DF;
}

.has-pale-green-color {
    color: #DAF1E4;
}

.has-pale-soda-green-color {
    color: #D9EFED;
}

.has-pale-glue-color {
    color: #DBE7EF;
}

.has-pale-mauve-color {
    color: #DCE3F0;
}

.has-pale-purple-color {
    color: #DFDEEE;
}

.has-pale-purple-pink-color {
    color: #F1DAEE;
}

.has-pale-light-pink-color {
    color: #F5D9E8;
}

.has-pale-pastel-pink-color {
    color: #FED8E5;
}

.has-pale-orange-color {
    color: #FFF2D8;
}

.has-pale-light-orange-color {
    color: #FCF1D8;
}


.has-pale-purple-pink-background-color {
    background-color: #f78da7;    
}


.has-red-background-color {
    background-color: #cf2e2e;
}

.has-orange-background-color {
    background-color: #ff6900;
}

.has-amber-background-color {
    background-color: #fcb900;
}

.has-light-green-cyan-background-color {
    background-color: #7bdcb5;
}

.has-vivid-green-cyan-background-color {
    background-color: #00d084;
}

.has-pale-cyan-blue-background-color {
    background-color: #8ed1fc;
}

.has-vivid-cyan-blue-background-color {
    background-color: #0693e3;
}

.has-light-gray-background-color {
    background-color: #eeeeee;
}

.has-cyan-blue-gray-background-color {
    background-color: #abb8c3;
}

.has-dark-gray-background-color {
    background-color: #313131;
}

.has-pale-yellow-background-color {
    background-color: #FEFFDC;
}

.has-pale-lime-green-background-color {
    background-color: #F0F6DF;
}

.has-pale-green-background-color {
    background-color: #DAF1E4;
}

.has-pale-soda-green-background-color {
    background-color: #D9EFED;
}

.has-pale-glue-background-color {
    background-color: #DBE7EF;
}

.has-pale-mauve-background-color {
    background-color: #DCE3F0;
}

.has-pale-purple-background-color {
    background-color: #DFDEEE;
}

.has-pale-purple-pink-background-color {
    background-color: #F1DAEE;
}

.has-pale-light-pink-background-color {
    background-color: #F5D9E8;
}

.has-pale-pastel-pink-background-color {
    background-color: #FED8E5;
}

.has-pale-orange-background-color {
    background-color: #FFF2D8;
}

.has-pale-light-orange-background-color {
    background-color: #FCF1D8;
}
